body {
  background-color:grey
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.to-do-list{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 100px;
}

h1{
font-size: 4rem;
}

button{
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  transition:background-color 0.5s ease;
}

.add-button{
  background-color: rgb(18, 75, 18);
}

.add-button:hover{
  background-color: rgb(45, 44, 44);
}

.delete-button{
  background-color: red;
}

.delete-button:hover{
  background-color: rgb(45, 44, 44);
}

.move-button{
  background-color: darkblue;
}

.move-button:hover{
 background-color: darkgray;
}

input[type="text"]{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid rgb(137, 134, 134);
  border-radius: 5px;
}

ol{
  padding: 0;
}

li{
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  background-color:white ;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button,.move-button{
  padding: 8px 12px;
}  

.edit-button {
  background-color: #4CAF50; /* Green color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px; /* Space between buttons */
}

.edit-button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}

.edit-button:active {
  background-color: #3e8e41; /* Darker shade when clicked */
}

